<mat-toolbar color="primary">
  <span>
    <a class="navigation_bar_button" mat-button routerLink="/"> {{title}} </a>
  </span>
  <span>
    <a class="navigation_bar_button" mat-button routerLink="/manageUsers" *ngIf="(userPower$ | async) >= 3"> Nutzer bearbeiten </a>
  </span>
  <span class="flex_spacer"></span>
  <span>
    <a class="navigation_bar_button" mat-button routerLink="/login" *ngIf="(userPower$ | async) == 0"> Login/Registrieren </a>
    <a class="navigation_bar_button" mat-button routerLink="/profile" *ngIf="(userPower$ | async) >= 1"> Profil </a>
    <a class="navigation_bar_button" mat-button routerLink="/bookings" *ngIf="(userPower$ | async) >= 1"> Buchungen </a>
    <a (click)="onLogout()" class="navigation_bar_button" mat-button href="/" *ngIf="(userPower$ | async) >= 1"> Logout </a>
  </span>
</mat-toolbar>
