
<mat-form-field class="main" *ngIf="(userPower$ | async) >= 3">
  <mat-label>Benutzer</mat-label>
  <mat-select (selectionChange)="getBookingsForUser($event)">
    <mat-option *ngFor="let user of users" [disabled]="!(user.user_role=='benutzer')" [value]="user.public_user_id">
      {{user.email}}
    </mat-option>
  </mat-select>
</mat-form-field>
<div>
  <mat-expansion-panel *ngIf="(userPower$ | async) == 1 || selectedUser != ''">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Buchung hinzufügen
      </mat-panel-title>
    </mat-expansion-panel-header>
    <form [formGroup]="addBookingForm" (ngSubmit)="addBooking(addBookingForm.value)">
      <p>
        <mat-form-field>
        <mat-label>Fahrzeug</mat-label>
        <mat-select (selectionChange)="updateSelectedVehicle($event)" [(value)]='selectedVehicle'>
          <mat-option *ngFor="let vehicle of vehicles" [value]="vehicle" >
            {{vehicle.brand}} {{vehicle.model}}
          </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-list *ngIf="selectedVehicle">
          <mat-list-item>Kategorie:     {{selectedVehicle.category_description}}</mat-list-item>
          <mat-list-item>Typ:           {{selectedVehicle.vehicle_type_description}}</mat-list-item>
          <mat-list-item>Schaltung:     {{selectedVehicle.transmission_description}}</mat-list-item>
          <mat-list-item>Zusätze:       {{selectedVehicle.addition_description}}</mat-list-item>
          <mat-list-item>Station:       {{selectedVehicle.station_name}}</mat-list-item>
          <mat-list-item>Nummernschild: {{selectedVehicle.license_plate}}</mat-list-item>
        </mat-list>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Beginn der Reservierung</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker" formControlName="start_date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker></ngx-mat-datetime-picker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Ende der Reservierung</mat-label>
          <input matInput [ngxMatDatetimePicker]="picker2" formControlName="end_date" required>
          <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
          <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field>
          <mat-label>Kommentar</mat-label>
          <input type="text" matInput placeholder="Kommentar" formControlName="comment">
        </mat-form-field>
      </p>
      <p>
        <button mat-raised-button type="submit">Buchen</button>
      </p>
    </form>
  </mat-expansion-panel>

</div>
<div>
  <table mat-table #table [dataSource]="bookings" class="mat-elevation-z8">
    <ng-container matColumnDef="start_date">
      <th mat-header-cell *matHeaderCellDef>Beginn</th>
      <td mat-cell *matCellDef="let booking">{{booking.start_date | date: 'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="end_date">
      <th mat-header-cell *matHeaderCellDef>Ende</th>
      <td mat-cell *matCellDef="let booking">{{booking.end_date | date: 'short'}}</td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef>Status</th>
      <td mat-cell *matCellDef="let booking">{{booking.status}}</td>
    </ng-container>

    <ng-container matColumnDef="fee">
      <th mat-header-cell *matHeaderCellDef>Preis</th>
      <td mat-cell *matCellDef="let booking">{{booking.fee}}</td>
    </ng-container>

    <ng-container matColumnDef="comment">
      <th mat-header-cell *matHeaderCellDef>Kommentar</th>
      <td mat-cell *matCellDef="let booking">{{booking.comment}}</td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let booking">
        <p>
          <button mat-raised-button color="warn" (click)="cancelBooking(booking)">Buchung stornieren</button>
        </p>
        <p>
          <button mat-raised-button color="warn" *ngIf="(userPower$ | async) >= 3" (click)="deleteBooking(booking)">Buchung löschen</button>
        </p>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
  </table>
</div>
