:host{
  display:flex;
  justify-content: center;
  margin: 40px 0px;
}

.mat-form-field{
  width: 100%;
  min-width: 300px;
}

mat-card-title,
mat-card-content{
  display: flex;
  justify-content: center;
}

.error{
  padding: 16px;
  width: 300px;
  color: white;
  background-color: red;
}

.flex_spacer{
  flex: 1 1 auto;
}
