<mat-card>
  <mat-card-title>Login</mat-card-title>

  <mat-card-content>
    <form [formGroup]='loginForm' (ngSubmit)="login(loginForm.value)">

      <p>
        <mat-form-field>
          <input type="text" matInput placeholder="E-Mail" formControlName='email' required>
        </mat-form-field>
      </p>

      <p>
        <mat-form-field>
          <input type="password" matInput placeholder="Passwort" formControlName='password' required>
        </mat-form-field>
      </p>

      <p *ngIf="error" class="error">
        {{error}}
      </p>

      <mat-card-actions align="end">
        <span class="flex_spacer"></span>
        <button type="submit" mat-raised-button>Login</button>
        <span class="flex_spacer"></span>
        <button routerLink="/register" mat-raised-button>Registrieren</button>
        <span class="flex_spacer"></span>
      </mat-card-actions>

    </form>

  </mat-card-content>

</mat-card>

