<mat-card>
  <mat-card-title>Nutzerdaten ändern</mat-card-title>

  <mat-form-field>
    <mat-label>Benutzer</mat-label>
    <mat-select (selectionChange)="updateValues($event)" [(ngModel)]='selectedUser' >
      <mat-option *ngFor="let user of users" [value]="user">
        {{user.email}}
      </mat-option>
    </mat-select>
  </mat-form-field>


  <mat-card-content>
    <div *ngIf="selectedUser != null">
      <form [formGroup]="editUserForm" (ngSubmit)="writeNewData(editUserForm.value)">
        <mat-grid-list cols="3" class="grid_height" rowHeight="fit">
          <mat-grid-tile>Vorname:</mat-grid-tile>
          <mat-grid-tile>{{selectedUser.first_name}}</mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input type="text" matInput placeholder="Vorname ändern." formControlName='first_name'>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>Nachname:</mat-grid-tile>
          <mat-grid-tile>{{selectedUser.last_name}}</mat-grid-tile>
          <mat-grid-tile>
            <mat-form-field>
              <input type="text" matInput placeholder="Nachname ändern." formControlName='last_name'>
            </mat-form-field>
          </mat-grid-tile>

          <mat-grid-tile>Geburtsdatum:</mat-grid-tile>
          <mat-grid-tile>{{selectedUser.birthdate | date: 'mediumDate'}}</mat-grid-tile>
          <mat-grid-tile>
            <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum eintragen." formControlName='birthdate'>
            <mat-datepicker-toggle [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-grid-tile>

        <mat-grid-tile>E-Mail Adresse:</mat-grid-tile>
        <mat-grid-tile>{{selectedUser.email}}</mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" matInput placeholder="E-Mail ändern." formControlName='email'>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>Ausweisnummer:</mat-grid-tile>
        <mat-grid-tile>{{selectedUser.id_number}}</mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" matInput placeholder="Ausweisnummer ändern." formControlName='id_number'>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>Führerscheinnummer:</mat-grid-tile>
        <mat-grid-tile>{{selectedUser.license_number}}</mat-grid-tile>
        <mat-grid-tile>
          <mat-form-field>
            <input type="text" matInput placeholder="Führerscheinnummer ändern." formControlName='license_number'>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
        </mat-grid-tile>
        <mat-grid-tile>
          <mat-card-actions align="end">
            <span class="flex_spacer"></span>
            <button mat-raised-button type="submit">Speichern</button>
            <span class="flex_spacer"></span>
          </mat-card-actions>
        </mat-grid-tile>
        <mat-grid-tile>
        </mat-grid-tile>
      </mat-grid-list>
    </form>
  </div>
  </mat-card-content>

</mat-card>
