<mat-card>
  <mat-card-title>Profil</mat-card-title>
  <mat-card-subtitle>Hier kannst du deine Profildaten einsehen und ändern.</mat-card-subtitle>

  <mat-card-content>
    <mat-grid-list cols="3" class="grid_height" rowHeight="fit">
      <mat-grid-tile>Vorname:</mat-grid-tile>
      <mat-grid-tile>{{user.first_name}}</mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>

      <mat-grid-tile>Nachname:</mat-grid-tile>
      <mat-grid-tile>{{user.last_name}}</mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>

      <mat-grid-tile>Geburtsdatum:</mat-grid-tile>
      <mat-grid-tile>{{user.birthdate | date: 'mediumDate'}}</mat-grid-tile>
      <mat-grid-tile> </mat-grid-tile>

      <mat-grid-tile>E-Mail Adresse:</mat-grid-tile>
      <mat-grid-tile>{{user.email}}</mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input type="text" matInput placeholder="E-Mail ändern." [(ngModel)]='newEmail'>
        </mat-form-field>
      </mat-grid-tile>

      <mat-grid-tile>Ausweisnummer:</mat-grid-tile>
      <mat-grid-tile>{{user.id_number}}</mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>Führerscheinnummer:</mat-grid-tile>
      <mat-grid-tile>{{user.license_number}}</mat-grid-tile>
      <mat-grid-tile></mat-grid-tile>

      <mat-grid-tile>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-card-actions align="end">
          <span class="flex_spacer"></span>
          <button mat-raised-button (click)="writeNewData()">Speichern</button>
          <span class="flex_spacer"></span>
        </mat-card-actions>
      </mat-grid-tile>
      <mat-grid-tile>
      </mat-grid-tile>

      <mat-grid-tile>
        <mat-form-field>
          <input type="password" matInput placeholder="Neues Passwort eingeben." [(ngModel)]='newPassword'>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field>
          <input type="password" matInput placeholder="Neues Passwort wiederholen." [(ngModel)]='newPasswordRepeated'>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <button mat-raised-button (click)="changePassword()">Passwort ändern</button>
      </mat-grid-tile>
    </mat-grid-list>

  </mat-card-content>
</mat-card>
