<form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
  <mat-vertical-stepper [linear]="false" #stepper>

    <mat-step>
      <ng-template matStepLabel>Persönliche Daten</ng-template>
      <p>

        <mat-form-field>
          <mat-label>Vorname</mat-label>
          <input matInput placeholder="Vorname" formControlName="first_name" required>
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>Nachname</mat-label>
          <input matInput placeholder="Nachname" formControlName="last_name" required>
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>Geburtsdatum</mat-label>
          <input matInput [matDatepicker]="picker" placeholder="Geburtsdatum eintragen." formControlName="birthdate" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </p>
        <div>
          <button type="button" mat-raised-button matStepperNext>Weiter</button>
        </div>
    </mat-step>

    <mat-step>
      <ng-template matStepLabel>Führerschein und Pass</ng-template>
      <p>

        <mat-form-field>
          <mat-label>Ausweis-Nummer</mat-label>
          <input matInput formControlName="id_number" required>
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>Führerschein-Nummer</mat-label>
          <input matInput placeholder="Führerschein-Nummer" formControlName="license_number" required>
        </mat-form-field>
      </p>
      <div>
        <button type="button" mat-raised-button matStepperPrevious>Zurück</button>
        <button type="button" mat-raised-button matStepperNext>Weiter</button>
      </div>
    </mat-step>

    <mat-step>
      <p>

        <mat-form-field>
          <mat-label>E-Mail</mat-label>
          <input matInput placeholder="beispiel@bspl.de" formControlName="email" required>
        </mat-form-field>
      </p>

      <p>

        <mat-form-field>
          <mat-label>Passwort</mat-label>
          <input type='password' matInput placeholder="Passwort" formControlName="password" required>
        </mat-form-field>
      </p>
      <p>

        <mat-form-field>
          <mat-label>Passwort wiederholen</mat-label>
          <input type='password' matInput placeholder="Passwort wiederholen" [(ngModel)]='confirmPassword' [ngModelOptions]='{standalone:true}' required>
        </mat-form-field>
      </p>

      <ng-template matStepLabel>Login Daten</ng-template>
      <p>Registrierung beendet.</p>
      <div>
        <button type="button" mat-raised-button matStepperPrevious>Zurück</button>
        <button type="submit" mat-raised-button>Absenden</button>
      </div>
    </mat-step>

  </mat-vertical-stepper>
</form>
